{% extends 'base.html' %}
{% load static %}


{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
{% endblock customcss %}


{% block header %}
<div class="top container alert alert-primary" role="alert">
    <div>社内掲示板</div>
    <div><a href="{% url 'logout' %}">ログアウト</a></div>
</div>
{% endblock header %}



{% block content %}

{% for item in object_list %}
<div class="container alert alert-success" role="alert">
    <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</p></a>
    <p>投稿者：{{ item.author }}</p>
    <p>いいね{{ item.good }}</p>
    <p>既読{{ item.read }}</p>

</div>
{% endfor %}
<div class="container">
    <a href="{% url 'create' %}" class="btn btn-danger" role="button" aria-pressed="true">新規投稿</a>
</div>
{% endblock content %}